---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Link from "../components/Link.astro";

import { links } from "../data/links";
---

<Layout>
  <main class="container">
    <Header />

    <div class="grid">
      {links.map((link) => <Link href={link.url}>{link.label}</Link>)}
    </div>
  </main>

  <style lang="scss">
    .container {
      max-width: calc(800px + 2rem);
      margin: 5rem auto;
      padding: 0 1rem;
    }

    .grid {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
    }
  </style>
</Layout>
